*{
    margin: 0;
    padding: 0;

    font-family: var(--Font-Family-Normal);

    line-height: 0;

    text-decoration: 0;

    color: var(--Dark-Gray);

    border: 0;
    box-sizing: border-box;
    outline: 0;
}

html{
    font-size: var(--Font-Size-Root);
    overflow: hidden;
    scroll-behavior: smooth;
}

    body *{
        font-size: var(--Font-Size-Normal);
        letter-spacing: var(--Letter-Spacing-Normal);
        line-height: var(--Line-Height-Normal);

        transition: var(--Transition);
    }