
@media (max-width: 1024px) {
    *{
        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none;      
        user-select: none;  
    }

    .Display{
        font-size: calc(var(--Font-Size-Display) / 100 * 80);
        letter-spacing:  calc(var(--Letter-Spacing-Display) / 100 * 80);
        line-height:  calc(var(--Line-Height-Display) / 100 * 80);
    }
}
@media (max-width: 768px) {
    
    html{
        font-size: var(--Font-Size-Root-Tablet);
    }

        #MenuDesktop{
            display: none;
        }

        #BurgerMenu{
            display: flex;

            z-index: 3000;
        }

        .Content{
            width: var(--Width-Relative-Max);
        }

        .Home{
            align-items: center;
        }

        .Display{
            font-size: calc(var(--Font-Size-Display) / 100 * 60);
            letter-spacing:  calc(var(--Letter-Spacing-Display) / 100 * 60);
            line-height:  calc(var(--Line-Height-Display) / 100 * 60);
        }

        .Information{
            height: calc(var(--Height-Relative-Max) - 5rem);
            flex-grow: 0;
        }

        .Footer{
            position: absolute;
            bottom: 0;
            right: 0;
            width: calc(var(--Width-Relative-Max) - 5rem);
            min-height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
@media (max-width: 500px) {
    
    html{
        font-size: var(--Font-Size-Root-Mobile);
    }

        .Display{
            font-size: calc(var(--Font-Size-Display) / 100 * 40);
            letter-spacing:  calc(var(--Letter-Spacing-Display) / 100 * 40);
            line-height:  calc(var(--Line-Height-Display) / 100 * 40);

            text-align: center;
        }

        .Title{
            font-size: calc(var(--Font-Size-Title) / 100 * 80);
            letter-spacing: calc(var(--Letter-Spacing-Title) / 100 * 80);
            line-height: calc(var(--Line-Height-Title) / 100 * 80);
        }

        .Project{
            min-width: 200px;

            margin: var(--Margin-Medium);
        }
            .Thumbnail{
                min-width: 200px;
            }
            .Description{
                margin: var(--Margin-Medium);
            }
                .CardTitle{

                }
                .Tags{

                }
                .CardParagraph{

                }
            .ProjectButtons{

            }

        .Tag{
            padding: 0 var(--Padding-Regular);

            font-size: var(--Font-Size-Normal);
            line-height: var(--Line-Height-Normal);
        }

}
@media (max-width: 320px) {
    
    html{
        font-size: var(--Font-Size-Root-Mobile);
    }

        .Display{
            font-size: calc(var(--Font-Size-Display) / 100 * 30);
            letter-spacing:  calc(var(--Letter-Spacing-Display) / 100 * 30);
            line-height:  calc(var(--Line-Height-Display) / 100 * 30);
        }

        .Title{
            margin: 0;

            font-size: calc(var(--Font-Size-Title) / 100 * 70);
            letter-spacing: calc(var(--Letter-Spacing-Title) / 100 * 70);
            line-height: calc(var(--Line-Height-Title) / 100 * 70);
        }

        .HomeButtons{
            display: flex;
            flex-wrap: wrap;
        }

        .HomeButton{
            width: 100%;
        }

        .HomeButton:first-of-type{
            margin-right: 0;
            margin-bottom: 1rem;
        }
}
@media (min-width: 769px) {
    .MenuMobile{
        display: "none";
    }
    .MenuCloseIcon{
        display: "inline-block";
    }
    .MenuOpenIcon{
        display: "none";
    }
}