@import url("./variables.css");

*{
    margin: 0;
    padding: 0;

    font-family: var(--Font-Family-Normal);

    line-height: 0;

    text-decoration: 0;

    color: var(--Dark-Gray);

    border: 0;
    box-sizing: border-box;
    outline: 0;

    scroll-behavior: smooth;

    transition: var(--Transition);
}

    html{
        width: var(--Width-Relative-Max);
        height: var(--Height-Absolute-Max);
        font-size: var(--Font-Size-Root);
    }

        body{
            width: var(--Width-Relative-Max);
            height: var(--Height-Relative-Max);
        }

        body *{
            font-size: var(--Font-Size-Normal);
            letter-spacing: var(--Letter-Spacing-Normal);
            line-height: var(--Line-Height-Normal);
        }
        
            .App{
                width: var(--Width-Relative-Max);
                min-height: var(--Height-Absolute-Max);
                
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
            
                background-color: var(--Light-Gray);

                background-color: #eee;

                position: relative;
            }

                .Links{
                    position: fixed;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                }

                    .Link{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }

                #Navegation{
                    top: 0;
                    background: white;
                    width: 100%;
                    min-width: 320px;
                    max-width: 1920px;
                    height: 5rem;
                    min-height: 5rem;
                    justify-content: flex-end;

                    /* Desktop */
                    padding-right: 5rem;
                }

                    #Link-Home, #Link-Project, #Link-Contact {
                        width: 5rem;
                        height: 100%;
                    }

                    #Link-Home:hover, #Link-Project:hover, #Link-Contact:hover {
                        background-color: black;
                        color: white;
                    }

                .View{
                    width: calc(100%);
                    min-width: 320px;
                    max-width: 1920px;
                    height: 100%;
                    min-height: var(--Height-Absolute-Max);
                }

                #Home{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                    .Placard{
                        display: inline-block;
                        margin-left: 5rem;
                    }

                        .Placard > h1{
                            font-family: var(--Font-Family-Display);
                            font-size: var(--Font-Size-Display);
                            letter-spacing: var(--Letter-Spacing-Display);
                            line-height: var(--Line-Height-Display);
                            font-weight: 900;
                        }

                        .Placard > h3{
                            font-family: var(--Font-Family-Title);
                            font-size: var(--Font-Size-Title);
                            letter-spacing: var(--Letter-Spacing-Title);
                            line-height: var(--Line-Height-Title);
                            font-weight: bold;
                            text-align: center;
                            margin: 2rem 0 3rem 0;
                        }
                
                        .buttons{
                            width: 100%;
                            display: flex;
                            margin-bottom: 2rem;
                        }
                    
                            .buttons > a{
                                font-weight: bold;
                                width: calc(50% - 2rem);
                                padding: 1.5rem;
                                text-transform: uppercase;
                                background-color: white;
                                text-align: center;
                            }

                            .buttons > a:hover{
                                background-color: black;
                                color: white;
                            }

                            .buttons > a:first-of-type{
                                margin-right: 4rem;
                            }

                #Project{
                    padding-top: 6.5rem;
                    padding-bottom: 6.5rem;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                    .Painel{
                        margin: 1.5rem;
                        width: 360px;
                        height: calc(360px * 3 / 2);
                        background-color: #eee;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                        .Thumbnail, .Description{
                            display: flex;
                            width: 100%;
                            height: calc(360px * 3 / 2 / 2);
                            position: relative;
                        }

                        .Thumbnail::before{
                            content: "";

                            position: absolute;
                            top: 0;
                            left: 0;

                            width: 100%;
                            height: 100%;

                            background-image: url("./assets/images/card/todolist.jpg");
                            background-size: cover;
                            background-position: top left;
                            background-repeat: no-repeat;
                            z-index: 10;
                        }

                        .Description{
                            flex-direction: column;
                            padding: 2rem;
                        }

                            .Description > h4{
                                font-family: var(--Font-Family-Title);
                                font-size: var(--Font-Size-SubTitle);
                                font-weight: var(--Font-Weight-Bold);
                                line-height: var(--Line-Height-SubTitle);

                                text-transform: uppercase;
                                margin-bottom: 1rem;
                            }

                            .Description > p{
                                flex-grow: 1;
                                overflow: auto;
                                opacity: 85%;
                                margin-bottom: 1rem;
                            }

                            .Actions{
                                margin-top: 0.5rem;
                                display: flex;
                                flex-wrap: wrap;
                            }

                                .Action{
                                    margin-bottom: 0.5rem;
                                    margin-right: 1rem;
                                    color: #000;
                                    opacity: 65%;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                }
                                
                                .Action:hover{
                                    text-decoration: underline;
                                }

                #Contact{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .Auto-Fill{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                        .Information{
                            margin: var(--Margin-Default);
                            margin-top: 6.5rem;
                            margin-bottom: 6.5rem;
                        }
                            .Form{
                                width: var(--Width-Relative-Max);
                                max-width: 360px;
                
                                padding: var(--Padding-Medium);
                                margin-bottom: var(--Margin-Medium);
                
                                background-color: var(--White);
                            }
                                .Groups{
                                    width: var(--Width-Relative-Max);
                
                                    margin-bottom: var(--Margin-Regular);
                
                                    display: flex;
                                    flex-wrap: wrap;
                                }
                                    .LabelInputText{
                                        padding-left: 0;
                                        padding-bottom: var(--Padding-Small);
                
                                        width: var(--Width-Relative-Max);
                
                                        display: flex;
                                    }
                                    .InputText{
                                        padding: var(--Padding-Regular);
                
                                        width: var(--Width-Relative-Max);
                
                                        display: flex;
                
                                        background-color: var(--Light-Gray);
                                    }
                                    .TextArea{
                                        padding: var(--Padding-Regular);
                
                                        width: var(--Width-Relative-Max);
                                        height: var(--Height-Relative-Max);
                                        min-height: calc(var(--Height-Lateral) * 3); 
                
                                        display: flex;
                                        
                                        background-color: var(--Light-Gray);
                                        
                                        resize: none;
                                    }
                                    .InputButton{
                                        background-color: #fff;
                                        border: 1px solid black;
                                        color: #000;
                                        padding: 1rem;
                                        width: var(--Width-Relative-Max);
                
                                        margin-top: var(--Margin-Regular);
                                    }
                                    .InputButton:hover{
                                        background-color: #000;
                                        color: white;
                                    }
                                .Groups:last-child{
                                    margin-bottom: 0;
                                }
                            .Contact{
                                width: var(--Width-Relative-Max);
                                /* height: var(--Height-Relative-Max); */
                
                                padding: var(--Padding-Medium);
                                margin-bottom: var(--Margin-Medium);
                
                                background-color: var(--White);
                            }
                                .Email{
                                    width: var(--Width-Relative-Max);
                                    height: var(--Height-Relative-Max);
                
                                    text-align: center;
                
                                    border: 1px solid var(--Black);

                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                    .EmailText{
                                        width: var(--Width-Relative-Max);
                                        height: var(--Height-Relative-Max);
                
                                        padding: var(--Padding-Regular);
                                        
                                        text-align: center;
                                    }
                                    .Email>i{
                                        font-size: 2rem;
                                        padding: var(--Padding-Regular);
                                        height: var(--Height-Relative-Max);
                                        
                                        background-color: var(--White);
                
                                        text-align: center;
                
                                        color: var(--Black);
                
                                        cursor: pointer;
                                    }
                                    .Email>i:hover{
                                        background-color: var(--Black);
                
                                        color: var(--White);
                                    }
                            .SocialMidias{
                                width: var(--Width-Relative-Max);
                
                                background-color: var(--Black);
                            }
                                .Icons{
                                    width: var(--Width-Relative-Max);
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }
                                    .Icons>i{
                                        padding: var(--Padding-Regular) var(--Padding-Medium);
                
                                        font-size: var(--Font-Size-SubTitle);
                                        line-height: var(--Line-Height-SubTitle);
                                        color: var(--White);
                                    }
                                    .Icons>i:hover{
                                        background-color: var(--White);
                
                                        color: var(--Black);
                                    }
                        .Footer{
                            width: var(--Width-Relative-Max);
                
                            padding: var(--Padding-Regular);
                
                            background-color: var(--Black);

                            color: var(--White);
                
                            text-align: center;
                        }

/* .cube{
    display: inline-block;
    min-width: 300px;
    min-height: 300px;
    margin: 5rem;
    background-color: red;
} */