*{
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Lora', serif; */
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: 0;
    line-height: 0;
    color: #111;
    /* opacity: 100%;
    opacity: 85%;
    opacity: 60%;
    opacity: 50%; */
}

html{
    font-size: 62.5%;
    overflow: hidden;
    scroll-behavior: smooth;
}

    body *{
        font-size: 1.6rem;
        letter-spacing: normal;
        line-height: calc(1.6rem / 100 * 120);
        /* font-size: 2.8rem;
        letter-spacing: normal;
        line-height: calc(2.8rem / 100 * 120);
        font-size: 3.2rem;
        letter-spacing: normal;
        line-height: calc(3.2rem / 100 * 120);
        font-size: 10.8rem;
        letter-spacing: normal;
        line-height: calc(10.8rem / 100 * 120);*/
        /* border-radius: 4px; */

        transition: all ease 0.3s;
    }

    .App{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        background-color: #eee;
    }

        .HeaderLinks{
            top: 0;
            left: 5rem;
            position: fixed;
            height: 100%;
            max-height: 5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            z-index: 999;
        }
        
            .HeaderLink{
                width: 5rem;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
        
            .HeaderLink:hover{
                background-color: white;
            }

                .HeaderLink > i{
                    color: white;
                }

                .HeaderLink:hover > i{
                    color: black;
                }



        .ContentLinks{
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            max-width: 5rem;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
        }

            .ContentLink{
                width: 100%;
                height: 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        
            .ContentLink:hover{
                background-color: black;
            }

                .ContentLink > i{
                    color: black;
                }

                .ContentLink:hover > i{
                    color: white;
                }

        .Content{
            width: calc(100% - 5rem);
            height: 100vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            .Home{
                width: 100%;
                max-width: 1920px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                position: relative;
            }

            .Home::before{
                background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.7), rgba(255,255,255,0.0)), url("./03.jpg");
                background-size: cover;
                background-position: top right;
                background-repeat: no-repeat;

                content: "";
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;

                filter: brightness(80%);
            }

                .Section{
                    position: relative;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 5rem;
                }

                    .HomeTitle{
                        width: 100%;
                        text-align: left;
                        font-size: 10.8rem;
                        line-height: calc(10.8rem / 100 * 120);
                        text-transform: uppercase;
                        letter-spacing: 2rem;
                        color: white;

                        font-family: 'Roboto Mono', monospace;

                        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    }

                    .HomeSubTitle{
                        width: 100%;
                        text-align: center;
                        font-size: 3.6rem;
                        line-height: calc(3.6rem / 100 * 120);
                        margin: 1rem;
                        color: white;

                        font-family: 'Lora', serif;

                        text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                    }

                    .HomeButtons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 1rem;
                        width: 100%;
                    }

                        .HomeButton{
                            width: calc(50% - 1.25rem);
                            text-align: center;
                            display: inline;
                            font-weight: bold;
                            padding: 1.0rem 2.5rem;
                            border: 1px solid white;
                            cursor: pointer;
                            background-color: white;
                        }

                        .HomeButton:first-of-type{
                            margin-right: 2.5rem;
                        }

                        .HomeButton:hover{
                            color: white;
                            background-color: black;
                        }

                        .HomeButton:active{
                            color: black;
                            border: 1px solid white;
                            background-color: white;
                        }

            .Pojects{
                width: 100%;
                max-width: 1024px;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
            }
                .Project{
                    margin: 1rem;
                    width: 100%;
                    max-width: 300px;
                    min-width: 100px;
                    height: auto;
                    min-height: 100px;
                    background-color: white;
                }
                    .Thumbnail{
                        width: 100%;
                        max-width: 300px;
                        min-width: 100px;
                        height: auto;
                        min-height: 100px;
                        position: relative;
                    }
                    .Thumbnail::before{
                        background-image: url("./todolist.jpg");
                        background-size: cover;
                        background-position: top left;
                        background-repeat: no-repeat;
        
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .Description{
                        padding: 1.0rem 0.0rem;
                        margin: 0.0rem 2.0rem;
                        width: calc(100% - 4.0rem);
                        max-width: 300px;
                        min-width: 100px;
                        height: auto;
                        min-height: 100px;
                    }
                        .CardTitle{
                            font-size: 2.8rem;
                            line-height: calc(2.8rem / 100 * 120);
                            font-weight: bold;
                            margin-bottom: 1rem;

                            font-family: 'Lora', serif;
                        }
                        .CardParagraph{
                            text-align: start;
                            
                            opacity: 85%;
                        }
                    .ProjectButtons{
                        padding: 1.0rem 0.0rem;
                        margin: 0.0rem 2.0rem;
                        width: calc(100% - 4.0rem);
                        border-top: 1px solid black;
                        max-width: 300px;
                        min-width: 100px;
                        height: auto;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        align-items: center;
                    }
                        .ProjectButton{
                            opacity: 50%;
                            display: inline;
                            padding: 0.5rem 1rem;
                            text-align: center;
                            font-weight: bold;
                            text-transform: uppercase;
                            cursor: pointer;
                        }
                        .ProjectButton:hover{
                            opacity: 85%;
                            text-decoration: underline;
                        }

            /* .Slider{
                width: 100%;
                height: 100%;
                position: relative;
            }

                .SliderLinks{
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    max-height: 5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                
                    .SliderLink{
                        width: 5rem;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                .Scroll{
                    display: flex;
                    width: 100%;
                    height: 100%;
                    overflow-x: hidden;
                    height: calc(100% - 5rem);
                }

                    .Slide{
                        min-width: 100%;
                        height: 100%;
                    } */

        #Content3{
            justify-content: space-between;
        }
            .Information{
                width: 100%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
                .Form{
                    padding: 1.0rem;
                    margin-bottom: 1.0rem;
                }
                    .Groups{
                        display: flex;
                        flex-wrap: wrap;
                        width: 100%;
                        margin-bottom: 1.0rem;
                    }
                        .LabelInputText{
                            display: flex;
                            width: 100%;
                            padding: 1rem;
                        }
                        .InputText{
                            display: flex;
                            width: 100%;
                            padding: 1rem;
                        }
                        .TextArea{
                            display: flex;
                            width: 100%;
                            height: 100%;
                            min-height: 15rem;
                            padding: 1rem;
                        }
                        .InputButton{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            padding: 1rem;
                            margin-top: 1rem;
                            font-weight: bold;
                            background-color: black;
                            cursor: pointer;
                            border: 1px solid black;
                            color: white;
                        }
                        .InputButton:hover{
                            color: black;
                            background-color: white;
                        }
                    .Groups:last-child{
                        margin-bottom: 0;
                    }
                .SocialMidias{
                    padding: 1.0rem;
                    margin-bottom: 1.0rem;
                    line-height: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                    .Email{
                        padding: 1rem;
                        text-align: center;
                    }
                    .Icons{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                        .Icons>i{
                            padding: 1rem;
                            font-size: 2.8rem;
                            line-height: calc(2.8rem / 100 * 120);
                        }
                        .Icons>i:hover{
                            transform: translateY(-15%);
                        }
            .Footer{
                width: 100%;
                text-align: center;
                padding: 1.0rem;
                background-color: black;
            }
                .Copyright{
                    font-size: 1.2rem;
                    line-height: calc(1.2rem / 100 * 120);
                    color: white;
                } 