@import url("../view/Hearder.css");
@import url("../view/Navegation.css");
@import url("../view/Home.css");
@import url("../view/Projects.css");
@import url("../view/Contact.css");

.App{
    width: var(--Width-Relative-Max);
    height: 100%;
    min-height: var(--Width-Absolute-Max);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    background-color: var(--Light-Gray);
}