#Content3{
    justify-content: space-between;
    position: relative;
    min-height: var(--Height-Relative-Max);
    overflow-y: auto;
    
}
    .Information{
        width: var(--Width-Relative-Max);
        /* min-height: var(--Height-Relative-Max);

        flex-grow: 1; */
        justify-content: flex-start;
    }
        .InformationCard{
            flex-grow: 1;
            margin: var(--Margin-Large);
        }
            .Form{
                width: var(--Width-Relative-Max);
                max-width: 664px;

                padding: var(--Padding-Medium);
                margin-bottom: var(--Margin-Medium);

                background-color: var(--White);
            }
                .Groups{
                    width: var(--Width-Relative-Max);

                    margin-bottom: var(--Margin-Regular);

                    display: flex;
                    flex-wrap: wrap;
                }
                    .LabelInputText{
                        padding-left: 0;
                        padding-bottom: var(--Padding-Small);

                        width: var(--Width-Relative-Max);

                        display: flex;
                    }
                    .InputText{
                        padding: var(--Padding-Regular);

                        width: var(--Width-Relative-Max);

                        display: flex;

                        background-color: var(--Light-Gray);
                    }
                    .TextArea{
                        padding: var(--Padding-Regular);

                        width: var(--Width-Relative-Max);
                        height: var(--Height-Relative-Max);
                        min-height: calc(var(--Height-Lateral) * 3); 

                        display: flex;
                        
                        background-color: var(--Light-Gray);
                        
                        resize: none;
                    }
                    .InputButton{
                        width: var(--Width-Relative-Max);

                        margin-top: var(--Margin-Regular);
                    }
                .Groups:last-child{
                    margin-bottom: 0;
                }
            .Contact{
                width: var(--Width-Relative-Max);
                /* height: var(--Height-Relative-Max); */

                padding: var(--Padding-Medium);
                margin-bottom: var(--Margin-Medium);

                background-color: var(--White);
            }
                .Email{
                    width: var(--Width-Relative-Max);
                    height: var(--Height-Relative-Max);

                    text-align: center;

                    border: 1px solid var(--Black);
                }
                    .EmailText{
                        width: var(--Width-Relative-Max);
                        height: var(--Height-Relative-Max);

                        padding: var(--Padding-Regular);
                        
                        text-align: center;
                    }
                    .Email>i{
                        padding: var(--Padding-Regular);
                        height: var(--Height-Relative-Max);
                        
                        background-color: var(--White);

                        text-align: center;

                        color: var(--Black);

                        cursor: pointer;
                    }
                    .Email>i:hover{
                        background-color: var(--Black);

                        color: var(--White);
                    }
            .SocialMidias{
                width: var(--Width-Relative-Max);

                background-color: var(--Black);
            }
                .Icons{
                    width: var(--Width-Relative-Max);
                }
                    .Icons>i{
                        padding: var(--Padding-Regular) var(--Padding-Medium);

                        font-size: var(--Font-Size-SubTitle);
                        line-height: var(--Line-Height-SubTitle);
                        color: var(--White);
                    }
                    .Icons>i:hover{
                        background-color: var(--White);

                        color: var(--Black);
                    }
        .Footer{
            width: var(--Width-Relative-Max);

            padding: var(--Padding-Regular);

            background-color: var(--Black);

            text-align: center;
        }