.HeaderLinks{
    position: fixed;
    top: 0;
    left: var(--Width-Lateral);

    height: var(--Height-Relative-Max);
    max-height: var(--Height-Lateral);

    display: flex;
    justify-content: flex-start;
    align-items: center;

    z-index: 999;
}