.Home{
    width: var(--Width-Relative-Max);
    height: var(--Height-Relative-Max);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;
}

.Home::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;

    width: var(--Width-Relative-Max);
    height: var(--Height-Relative-Max);

    background-image: var(--Linear-Gradiente), url("../../../assets/images/background/03.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    filter: brightness(80%);
}

    .Section{
        position: relative;

        margin-left: var(--Margin-Large);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .HomeTitle{
            width: var(--Width-Relative-Max);

            font-family: var(--Font-Family-Display);
            font-weight: var(--Font-Weight-Black);
            font-size: var(--Font-Size-Display);
            letter-spacing: var(--Letter-Spacing-Display);
            line-height: var(--Line-Height-Display);

            color: var(--White);

            text-align: left;
            text-shadow: var(--Text-Shadow);
            text-transform: uppercase;

            transition: var(--Transition);
        }

        .HomeSubTitle{
            width: var(--Width-Relative-Max);

            margin: var(--Margin-Regular);

            font-family: var(--Font-Family-Title);
            font-size: var(--Font-Size-Title);
            letter-spacing: var(--Letter-Spacing-Title);
            line-height: var(--Line-Height-Title);

            color: var(--White);

            text-align: center;
            text-shadow: var(--Text-Shadow);

            transition: var(--Transition);
        }

        .HomeButtons{
            width: var(--Width-Relative-Max);

            margin-top: var(--Margin-Regular);

            display: flex;
            justify-content: center;
            align-items: center;
        }

            .HomeButton{
                width: calc(50% - 1.0rem);

                padding: var(--Padding-Regular);

                display: inline;

                background-color: var(--White);

                font-weight: bold;
                
                text-align: center;

                border: 1px solid var(--White);

                cursor: pointer;
            }

            .HomeButton:first-of-type{
                margin-right: var(--Margin-Medium);
            }

            .HomeButton:hover{
                background-color: var(--Black);

                color: var(--White);
            }

            .HomeButton:active{
                background-color: var(--White);
                
                color: var(--Black);

                border: 1px solid var(--White);
            }