.Home{
    width: var(--Width-Relative-Max);
    height: var(--Height-Relative-Max);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    position: relative;
}

.Home::before{
    content: "";
    
    position: absolute;
    top: 0;
    left: 0;

    width: var(--Width-Relative-Max);
    height: var(--Height-Relative-Max);

    background-image: var(--Linear-Gradiente), url("../../../assets/images/background/03.jpg");
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;

    filter: brightness(80%);
}

    .Section{
        position: relative;

        margin-left: var(--Margin-Large);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

        .HomeTitle{
            width: var(--Width-Relative-Max);

            color: var(--White);

            text-align: left;
            text-shadow: var(--Text-Shadow);
            text-transform: uppercase;

            transition: var(--Transition);
        }

        .HomeSubTitle{
            width: var(--Width-Relative-Max);

            margin: var(--Margin-Regular);

            color: var(--White);

            text-align: center;
            text-shadow: var(--Text-Shadow);

            transition: var(--Transition);
        }

        .HomeButtons{
            width: var(--Width-Relative-Max);

            margin-top: var(--Margin-Regular);
        }

            .HomeButton{
                width: calc(50% - 1.0rem);
            }

            .HomeButton:first-of-type{
                margin-right: var(--Margin-Medium);
            }