.ContentLinks{
    position: fixed;
    top: 0;
    left: 0;

    width: var(--Width-Relative-Max);
    max-width: var(--Width-Lateral);
    height: var(--Height-Absolute-Max);

    background-color: var(--White);
}