.Link{
    display: flex;
    justify-content: center;
    align-items: center;
}
        
.Link-Vertical{
    width: var(--Width-Lateral);
    height: var(--Height-Relative-Max);
}

.Link-Horizontal{
    width: var(--Width-Relative-Max);
    height: var(--Height-Lateral);
}

.Link-Light:hover{
    background-color: var(--White);
}

    .Link-Light > i{
        color: var(--White);
    }

    .Link-Light:hover > i{
        color: var(--Black);
    }

.Link-Dark:hover{
    background-color: var(--Black);
}

    .Link-Dark:hover > i{
        color: var(--White);
    }

.Link-Simple{
    padding: 0 var(--Padding-Regular);
    margin-bottom: var(--Margin-Small);

    display: inline;

    font-weight: var(--Font-Weight-Bold);

    text-transform: uppercase;
    text-align: center;

    color: var(--Medium-Gray);

    cursor: pointer;
}
.Link-Simple:hover{
    text-decoration: underline;
    
    color: var(--Black);
}