.Display{
    font-family: var(--Font-Family-Display);
    font-weight: var(--Font-Weight-Black);
    font-size: var(--Font-Size-Display);
    letter-spacing: var(--Letter-Spacing-Display);
    line-height: var(--Line-Height-Display);
}
.Title{
    font-family: var(--Font-Family-Title);
    font-size: var(--Font-Size-Title);
    letter-spacing: var(--Letter-Spacing-Title);
    line-height: var(--Line-Height-Title);
}
.SubTitle{
    font-family: var(--Font-Family-Title);
    font-size: var(--Font-Size-SubTitle);
    font-weight: var(--Font-Weight-Bold);
    line-height: var(--Line-Height-SubTitle);
}

.Tag{
    padding: 0 var(--Padding-Regular);
    margin-right: var(--Margin-Small);
    margin-top: var(--Margin-Small);

    font-size: var(--Font-Size-Small);
    line-height: var(--Line-Height-Small);

    border: 1px solid var(--Black);
    border-radius: 1.0rem;
}
.Tag:last-of-type{
    margin-right: 0;
}

.Copyright{
    font-size: var(--Font-Size-Small);
    line-height: var(--Line-Height-Small);
    
    color: var(--White);
} 