.Tag{
    padding: 0 var(--Padding-Regular);
    margin-right: var(--Margin-Small);
    margin-top: var(--Margin-Small);

    font-size: var(--Font-Size-Small);
    line-height: var(--Line-Height-Small);

    border: 1px solid var(--Black);
    border-radius: 1.0rem;
}
.Tag:last-of-type{
    margin-right: 0;
}
